name: Run Plemmy tests

on: [push]

jobs:
  build:
    environment: UNIT_TESTS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install build
            pip install pytest pytest-md
      - name: Install package
        run: python -m pip install .
      - name: Run tests
        uses: pavelzw/pytest-action@v2
        env:
          COMMUNITY_NAME: ${{ secrets.COMMUNITY_NAME }}
          INSTANCE_URL: ${{ secrets.INSTANCE_URL }}
          PASSWORD: ${{ secrets.PASSWORD }}
          USERNAME: ${{ secrets.USERNAME }}
        with:
          emoji: false
          report-title: 'Plemmy test report'
